<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Fornecedor</title>
</head>
<body>
    <main>
        <form th:action="@{/supplier/add}" th:object="${supplier}" method="post">

            <div class="input-label">
                <label for="name">Nome</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Nome do fornecedor">
            </div>

            <div class="input-label">
                <label for="cnpj">CPNJ</label>
                <input type="text" th:field="*{cnpj}" id="cnpj" placeholder="CNPJ">
            </div>

            <div class="input-label">
                <label for="phone">Telefone</label>
                <input type="tel"  th:field="*{phone}" id="phone" placeholder="Telefone...">
            </div>

            <input type="submit" value="Submit" class="btn-submit">
        </form>
    </main>
</body>
</html>