<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo produto</title>
</head>
<body>
    <main>
        <form th:action="@{/products/add}" th:object="${product}" method="post">

            <div class="input-label">
                <label for="name">Nome</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Nome do produto">
            </div>

            <div class="input-label">
                <label for="brand">Marca</label>
                <input type="text" th:field="*{brand}" id="brand" placeholder="Marca">
            </div>

            <div class="input-label">
                <label for="category">Categoria</label>
                <input type="text"  th:field="*{category}" id="category" placeholder="Categoria...">
            </div>

            <div class="input-label">
                <label for="description">Descrição</label>
                <input type="text" th:field="*{description}" id="description" placeholder="Descrição...">    
            </div>

            <div class="input-label">
                <label for="price">Preço</label>
                <input type="number" th:field="*{price}" id="price" placeholder="Preço">
            </div>

            <div class="input-label">
                <label for="supplier">Fornecedor</label>
                <input list="list-fornecedores" id="supplier" th:field="*{supplier}" placeholder="Fornecedor">
                <datalist id="list-fornecedores">
                    <option th:each="supplier : ${suppliers}" th:value="${supplier.name}"></option>
                </datalist>
            </div>
            <input type="submit" value="Submit" class="btn-submit">
        </form>
    </main>
</body>
</html>