<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/default-list.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Produtos</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <li><a th:href="@{#}">Produtos</a></li>
                <li><a th:href="@{/}">Página inicial</a></li>
                <li><a th:href="@{/supplier/list}">Fornecedores</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <div th:switch="${products}" class="container">
    <h2 th:case="null" class="title">Nenhum produto registrado ainda!</h2>
    <div th:case="*">
        <table class="table-general">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Fornecedor</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.brand}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.supplier.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.amount}"></td>
                    <td><i class="fa-solid fa-cart-plus"></i></td>
                    <div class="ocultado">
                        <form action="#" th:action="@{/product/addquantity/{id}(id=${product.id})}" method="post">
                            <input type="hidden" name="_method" value="put">
                        
                            <label for="quantity">Quantidade:</label>
                            <input type="number" id="quantity" name="quantity" required>
                        
                            <button type="submit">Atualizar Quantidade</button>
                        </form>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/product/form}" class="btn-form">Adicionar novo produto</a>
</div>
    </main>

    <footer>
        <p>Página feita para estudo. Por Gabriel Eugênio Vitalino da Silva, graduando em BTI pela UFRN.</p>
    </footer>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>