<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/default-list.css}" />
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <li><a th:href="@{/product/list}">Produtos</a></li>
                <li><a th:href="@{#}">Página inicial</a></li>
                <li><a th:href="@{/supplier/list}">Fornecedores</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bem vindo a página principal</h1>
    </main>
</body>
</html>